$color__background-body:   #ffffff;
$color__background-screen: #f1f1f1;
$color__background-hr:     #ECECEE;
$color__background-hr-2:   #000000;
$color__background-input:  transparent;
$color__background-pre:    #eee;

$color__white: #ffffff;
$color__dark: #000000;
$color__gray: #333333;
$color__light-gray: #c7c7c7;

$color__bg-preloader-cover: #ffffff;

$color__text-screen: #21759b;
$color__text-input:  #888;

$color__border-button:  #000000;
$color__border-input:   #bbbbbb;
$color__border-abbr:    #666;
$color__border-table:   $color__background-hr;
$color__border-table-2: $color__background-hr-2;
$color__border-pre:     darken( $color__background-pre, 10% );

$color__not-valid: #FF596D;
$color__valid:     #39b54a;

$color__bg-meta-divider: #39b54a;
