// Options
$enable-rounded: false !default;

$border__radius:     3px;
$border__radius-form:25px;
$box__shadow:        0 2px 12px rgba(136,136,136,0.26);
$box__shadow_mobile: 0 2px 6px rgba(136,136,136,0.26);

$box__shadow_banner: 2px 2px 12px rgba(136,136,136,0.26);
$box__shadow_banner_mobile: 2px 2px 6px rgba(136,136,136,0.26);

$box__shadow_vertical_menu: 4px 4px 16px rgba(#000, .15);

$input__indents_y: 13px;
$input__indents_x: 22px;

$button__indents_y:     13px;
$button__indents_x:     38px;
$button__indents:       $button__indents_y $button__indents_x;
$button__border-radius: $border__radius;
$button__border:        2px solid;

$embed__ratio: 75.395%;  //  thumbnail height / thumbnail width
