
.follow-block {
	padding: 38px 20px 20px;
	text-align: center;

	@include media-breakpoint-up(sm) {
		padding: 48px 20px 20px;
	}
	@include media-breakpoint-up(md) {
		padding: 58px 20px 20px;
	}
	@include media-breakpoint-up(lg) {
		padding: 38px 26px 20px;
	}
	@include media-breakpoint-up(xl) {
		padding: 58px 20px 20px;
	}

	.widget-title {
		margin: 0 0 1.2em 0;

		.sidebar-primary & {
			@include font-size(1.125);
			@include media-breakpoint-up(md) {
				@include font-size(1.875);
			}
		}
	}
	.social-list__items{
		margin-bottom: 0;
	}
	.menu-item {
		margin: 3px;
		a {
			border-radius: 50%;
			width: 56px;
			height: 56px;
			.sidebar-primary &, 
			.sidebar-secondary & {
				width: 40px;
				height: 40px;
			}
			text-align: center;


			.sidebar-primary &, 
			.sidebar-secondary & {
				&:before {
					font-size: 14px;
					line-height: 40px;

				}
			}

			&:before {
				font-size: 20px;
				line-height: 57px;

			}
			@media (max-width: 992px) {
				width: 46px;
				height: 46px;

				&:before {
					line-height: 43px;
				}
			}
		}

		.footer-full-width-area & {
			a {
				width: 30px;
				height: 30px;

				&:before {
					@include font-size(0.625);
					line-height: 26px;
				}

				@include media-breakpoint-up(md) {
					width: 45px;
					height: 45px;

					&:before {
						@include font-size(0.9);
						line-height: 41px;
					}
				}
				@include media-breakpoint-up(xl) {
					width: 56px;
					height: 56px;

					&:before {
						@include font-size(1.25);
						line-height: 56px;
					}
				}
			}
		}

		.footer-area.widget-area & {
			margin: 2px;
			a {
				width: 30px;
				height: 30px;

				&:before {
					@include font-size(0.625);
					line-height: 30px;
				}

				@include media-breakpoint-up(md) {
					width: 45px;
					height: 45px;

					&:before {
						@include font-size(0.9);
						line-height: 45px;
					}
				}
				@include media-breakpoint-up(xl) {
					width: 60px;
					height: 60px;

					&:before {
						@include font-size(1.25);
						line-height: 60px;
					}
				}
			}
		}
	}
	.site-footer & {
		padding: 0;
	}
	.subscribe-block + & {
		.footer-full-width-area & {
			margin-top: 25px;

			@include media-breakpoint-up(sm) {
				margin-top: 35px;
			}
			@include media-breakpoint-up(md) {
				margin-top: 45px;
			}
			@include media-breakpoint-up(lg) {
				margin-top: 55px;
			}
			@include media-breakpoint-up(xl) {
				margin-top: 73px;
			}
		}
	}
}

.sidebar-primary, 
.sidebar-secondary {
	.subscribe-block {
		padding: 30px 20px;
	}
}
.sidebar-primary, 
.sidebar-secondary {
	.follow-block {
		padding: 30px 20px 35px;
	}
}
.subscribe-block {

	.footer-full-width-area &{

		margin: 0;
		@media (min-width: 1400px) {
			margin: 0 100px 0;
		}
		@media (min-width: 1700px) {
			margin: 0 370px 0;
		}
	}

	padding: 38px 16px 17px;
	text-align: center;

	@include media-breakpoint-up(sm) {
		padding: 48px 20px 17px;
	}
	@include media-breakpoint-up(md) {
		padding: 58px 30px 17px;
	}
	@include media-breakpoint-up(lg) {
		padding: 38px 16px 17px;
	}
	@include media-breakpoint-up(xl) {
		padding: 58px 30px 17px;
	}

	.site-footer & {
		padding: 0;
	}

	.widget-title {
		margin: 0 0 37px;
		position: relative;
		&:after {
			content: '';
			display: block;
			width: 78px;
			height: 5px;
			margin: 0.58em auto 0;
		}
		text-transform: capitalize;
		.sidebar-primary & {
			@include font-size(1.125);
			@include media-breakpoint-up(md) {
				@include font-size(1.875);
			}
		}
	}
	&__message {
		margin: 0 0 5px;
		letter-spacing: 0;
		.footer-full-width-area &{	
			line-height: 34px;
			@include font-size(1.25);
			text-align: center;
			font-weight: normal;
		}
		.sidebar-primary & {
			@media (max-width: 1400px) {
				font-size: 16px;
			}
			@media (min-width: 992px) and (max-width: 1200px) {
				font-size: 12px;
			}
		}
	}
	&__input-group {
		padding-top: 0;
		margin: 52px 10px 10px;
		text-align: center;    
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		align-items: flex-end;
		@media (min-width: 1400px) {
			text-align: left;
		}
	}
	&__input[type='email'] {
		width: 100%;
		max-width: none;
		margin-right: 15px;
		padding: 19px 0 16px 0;
		border: none;
		border-bottom: 3px solid;
		@include font-size(0.9375);
		background-color: transparent;
		color: $color__text-input_subscribe;
		border-radius: 0;
		@include transition(all 0.3s ease);
		&.error {
			border-bottom: 3px solid;
		}

		.sidebar-primary & {
			@media (max-width: 1400px) {
				padding-left: 9px;
				padding-right: 9px;
				@include font-size(0.9);
			}
			@media (min-width: 992px) and (max-width: 1200px) {
				padding-left: 16px;
				padding-right: 16px;
			}
		}

		.footer-full-width-area & {
			text-align: left;
			max-width: calc(100% - 72px);
			@include font-size(0.875);

			@include media-breakpoint-up(sm) {
				max-width: 280px;
				@include font-size(1);
			}
			@include media-breakpoint-up(md) {
				max-width: 440px;
				min-width: 440px;
				@include font-size(1);
			}
		}
	}
	&__submit {
		@include font-size(1.125);
		text-transform: capitalize;
		padding: 9px 9px;
		min-width: 56px;
		position: relative;
		min-height: 56px;
		min-width: 56px;
		border-radius: 56px;
		overflow: hidden;

		i {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			line-height: 56px;
			@include font-size(2.125);
			@include transition(all 0.3s ease);
		}
		&:before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 1;
			z-index: -1;
			border-radius: 56px;
		}
		&:after {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 1;
			z-index: -1;
			border-radius: 56px;
			@include transition(all 0.4s ease);
		}
		&:hover {
			&:after {
				opacity: 1;
				left: auto;
				right: 0;
				width: 0%;
				@include transition(all 0.3s ease);
			}
		}
	}
	&__success {
		color: rgb(76,203,0);
	}
	&__success, &__error {
		@include font-size(0.875);
	}
}


.follow-block, .subscribe-block {
	.widget-title {
		padding: 0;
		border: none;

		&:before {
			content: none;
		}
	}
}
