/* #Footer */
.site-footer {
	background-color: $footer_bg;
}
.footer-area-wrap {
	background-color: $footer_widgets_bg;
}

.site-info .footer-copyright,
.site-info .footer-copyright a,
.site-info .footer-copyright a:hover {
	color: $regular_link_hover_color;
}

.site-info .contact-block__text a {
	color: $regular_link_color;
}
/* Contact block */
.site-footer.style-2 .contact-block__value-wrap {
	font-size: $body_font_size{px};
	line-height: $body_line_height;
}
