.footer-container {
	padding: 30px 0 25px;
	background-repeat: no-repeat;
	background-size: cover;
	@include font-size(1);
	line-height: 1.5;
	.site-footer.style-2 & {
		padding-top: 110px;
		padding-bottom: 88px;
	}
}

.site-info {
	.footer-logo,
	.social-list,
	.footer-menu,
	.footer-copyright {
		margin-top: 10px;
		margin-bottom: 10px;
		font-weight: 400;
		> a:hover {
			text-decoration: underline;
		}
	}
}

@import "footer/layout-style-1";
@import "footer/layout-style-2";
